#kt_header.kt-header.kt-grid__item.kt-header--fixed
            style.
              #lblCartCount {
              position: relative;
              }
              #lblCartCount .badge{
              position: absolute;
              top: -1.5rem;
              left: 1rem;
              font-size: 0.8rem;
              padding: 0.5rem;
              }
            #kt_header_menu_wrapper.kt-header-menu-wrapper
              #kt_header_menu.kt-header-menu.kt-header-menu-mobile.kt-header-menu--layout-default
                ul.kt-menu__nav
                  li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel(data-ktmenu-submenu-toggle="click" aria-haspopup="true")
                    a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                      span.kt-menu__link-text Tools
                      i.kt-menu__ver-arrow.la.la-angle-right
                    .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--left
                      ul.kt-menu__subnav
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/razorpay")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L4,21 C2.8954305,21 2,20.1045695 2,19 L2,15 L6.27924078,15 L6.82339262,16.6324555 C7.09562072,17.4491398 7.8598984,18 8.72075922,18 L15.381966,18 C16.1395101,18 16.8320364,17.5719952 17.1708204,16.8944272 L18.118034,15 L22,15 Z" fill="#000000")
                                  path(d="M2.5625,13 L5.92654389,7.01947752 C6.2807805,6.38972356 6.94714834,6 7.66969497,6 L16.330305,6 C17.0528517,6 17.7192195,6.38972356 18.0734561,7.01947752 L21.4375,13 L18.118034,13 C17.3604899,13 16.6679636,13.4280048 16.3291796,14.1055728 L15.381966,16 L8.72075922,16 L8.17660738,14.3675445 C7.90437928,13.5508602 7.1401016,13 6.27924078,13 L2.5625,13 Z" fill="#000000" opacity="0.3")
                            span.kt-menu__link-text Payment Gateway
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/bulk-task")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
                                  rect(fill='#000000', opacity='0.3', x='11', y='2', width='2', height='14', rx='1')
                                  path(d='M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z', fill='#000000', fill-rule='nonzero')
                            span.kt-menu__link-text Bulk Task Creator
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/datasets")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
                                  rect(fill='#000000', opacity='0.3', x='11', y='2', width='2', height='14', rx='1')
                                  path(d='M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z', fill='#000000', fill-rule='nonzero')
                            span.kt-menu__link-text Datasets
                  li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel(data-ktmenu-submenu-toggle="click" aria-haspopup="true")
                    a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                      span.kt-menu__link-text Content Tools
                      i.kt-menu__ver-arrow.la.la-angle-right
                    .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--left
                      ul.kt-menu__subnav
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/keywordgenerator")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L4,21 C2.8954305,21 2,20.1045695 2,19 L2,15 L6.27924078,15 L6.82339262,16.6324555 C7.09562072,17.4491398 7.8598984,18 8.72075922,18 L15.381966,18 C16.1395101,18 16.8320364,17.5719952 17.1708204,16.8944272 L18.118034,15 L22,15 Z" fill="#000000")
                                  path(d="M2.5625,13 L5.92654389,7.01947752 C6.2807805,6.38972356 6.94714834,6 7.66969497,6 L16.330305,6 C17.0528517,6 17.7192195,6.38972356 18.0734561,7.01947752 L21.4375,13 L18.118034,13 C17.3604899,13 16.6679636,13.4280048 16.3291796,14.1055728 L15.381966,16 L8.72075922,16 L8.17660738,14.3675445 C7.90437928,13.5508602 7.1401016,13 6.27924078,13 L2.5625,13 Z" fill="#000000" opacity="0.3")
                            span.kt-menu__link-text Keyword generator
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/sectiongenerator")
                            span.kt-menu__link-icon
                              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                  polygon(points='0 0 24 0 24 24 0 24')
                                  path(d='M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
                                  path(d='M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z' fill='#000000' fill-rule='nonzero')
                            span.kt-menu__link-text Blog Section generator
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/topic")
                            span.kt-menu__link-icon
                              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                  polygon(points='0 0 24 0 24 24 0 24')
                                  path(d='M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z' fill='#000000' fill-rule='nonzero' opacity='0.3')
                                  rect(fill='#000000' x='6' y='11' width='9' height='2' rx='1')
                                  rect(fill='#000000' x='6' y='15' width='5' height='2' rx='1')
                            span.kt-menu__link-text Topic creator 
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/email")
                            span.kt-menu__link-icon
                              // begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Mail.svg
                              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
                                g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                  rect(x='0' y='0' width='24' height='24')
                                  path(d='M5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z' fill='#000000')
                                  path(d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3")
                            span.kt-menu__link-text Email generator       
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link(href="/su/aitools/answers")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000")
                                  path(d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3")
                            span.kt-menu__link-text Quiz Answers
            
            //end :: Header Menu
            // begin:: Header Topbar
            .kt-header__topbar
              // begin: Notifications
              .kt-header__topbar-item(style="margin-right : 0.5rem;")
                .kt-header__topbar-wrapper
                  a.kt-header__topbar-icon.kt-pulse.kt-pulse--brand.removeNotfication(href="/su/notifications") 
                    span#lblCartCount.label.pulse.pulse-success.mr-10
                      i.far.fa-bell
                      span.badge.badge-primary#notificationsCount
                        | #{notifications}
              // end: Notifications
              // begin: Quick panel toggler
              .kt-header__topbar-item.kt-header__topbar-item--quick-panel(data-toggle='kt-tooltip', title='Quick panel', data-placement='right', style='display:none')
                span#kt_quick_panel_toggler_btn.kt-header__topbar-icon
                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      rect(x='0', y='0', width='24', height='24')
                      rect(fill='#000000', x='4', y='4', width='7', height='7', rx='1.5')
                      path(d='M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z', fill='#000000', opacity='0.3')
              // end: Quick panel toggler
              .kt-header__topbar-item.kt-header__topbar-item--user
                .kt-header__topbar-wrapper(data-toggle="dropdown" data-offset="0px,0px")
                  .kt-header__topbar-user
                    span.kt-header__topbar-welcome.kt-hidden-mobile Hello,
                    span.kt-header__topbar-username.kt-hidden-mobile Mate
                    span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold #{avatarinitial}
                .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-top-unround.dropdown-menu-xl
                  // begin: Head
                  .kt-user-card.kt-user-card--skin-dark.kt-notification-item-padding-x(style="background-image: url(/assets/media/misc/bg-1.jpg)")
                    .kt-user-card__avatar
                      img.kt-hidden(alt="Pic" src="/assets/media/users/300_25.jpg")
                      // use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it)
                      span.kt-badge.kt-badge--lg.kt-badge--rounded.kt-badge--bold.kt-font-success #{initialletter}
                    .kt-user-card__name #{username}
                  // end: Head
                  // begin: Navigation
                  .kt-notification
                    a.kt-notification__item(href="/su/profile")
                      .kt-notification__item-icon
                        i.flaticon2-calendar-3.kt-font-success
                      .kt-notification__item-details
                        .kt-notification__item-title.kt-font-bold
                          | My Profile
                        .kt-notification__item-time
                          | Account settings and more
                    a.kt-notification__item(href="/custom/apps/user/profile-3.html")
                      .kt-notification__item-icon
                        i.flaticon2-hourglass.kt-font-brand
                      .kt-notification__item-details
                        .kt-notification__item-title.kt-font-bold
                          | My Tasks
                        .kt-notification__item-time
                          | All task by me
                    .kt-notification__custom.kt-space-between
                      button#kt_login_signin_submit.loginclick.btn.btn-brand.btn-elevate.kt-login__btn-primary Sign Out
