#kt_footer.kt-footer.kt-grid__item.kt-grid.kt-grid--desktop.kt-grid--ver-desktop
            .kt-container.kt-container--fluid
              .kt-footer__copyright
                | 2020&nbsp;&copy;&nbsp;
                a.kt-link(href="#" target="_blank") Requin   solution