doctype html
html.wide.wow-animation(lang='en')
  head(style='background-image: url(images/14.jpg);')
    title Requin Solutions
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    link(rel='icon', href='images/requine.png', type='image/x-icon')
    // Stylesheets
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/gallery.css')
    style.
      .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
      }
      html.ie-10 .ie-panel,
      html.lt-ie-10 .ie-panel {
      display: block;
      }
    style.
      body {
      background-color: white;
      }
  body
    .ie-panel
      a(href='images/requine.png')
        img(src='images/requine.png', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.', width='820', height='42')
    .preloader
      .preloader-body
        .cssload-container
          span
          span
          span
          span
    .page(style='min-height: 20vh;')
      header.section.page-header(style='background-color: black; position: relative;')
        // RD Navbar
        .rd-navbar-wrap
          nav.rd-navbar.rd-navbar-classic(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-static', data-xxl-layout='rd-navbar-static', data-xxl-device-layout='rd-navbar-static', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
            .rd-navbar-main-outer
              .rd-navbar-main
                // RD Navbar Panel
                .rd-navbar-panel
                  // RD Navbar Toggle
                  button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
                    span
                  // RD Navbar Brand
                  .rd-navbar-brand
                    a.brand(href='/')
                      img(src='images/requine.png', alt='', width='800', height='100')
                .rd-navbar-main-element
                  .rd-navbar-nav-wrap
                    // RD Navbar Share
                    .rd-navbar-share.fl-bigmug-line-share27(data-rd-navbar-toggle='.rd-navbar-share-list')
                      ul.list-inline.rd-navbar-share-list
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-facebook(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-twitter(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-google-plus(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-instagram(href='#')
                    ul.rd-navbar-nav
                      li.rd-nav-item
                        a.rd-nav-link(href='/') Home
                      li.rd-nav-item
                        a.rd-nav-link(href='/#services') Services
                      li.rd-nav-item
                        a.rd-nav-link(href='/#projects') Projects
                      li.rd-nav-item
                        a.rd-nav-link(href='/#team') Team
                      li.rd-nav-item
                        a.rd-nav-link(href='/#Contact') Contacts
                      li.rd-nav-item
                        a.rd-nav-link(href='/privacy') Terms &amp; Conditions
                      li.rd-nav-item.active
                        a.rd-nav-link(href='/events') Lifeee At Requin
    .gallery
      ul.controls
        li.buttons.active(data-filter='all') all
        li.buttons(data-filter='3rd-anniversary') 3rd anniversary
        li.buttons(data-filter='Office-Party') Office Party
        li.buttons(data-filter='Employee') Employee B&apos;day
        li.buttons(data-filter='FESTIVAL') FESTIVAL
        li.buttons(data-filter='Office-Trips') Office Trips
        // <li class="buttons" data-filter="Others">Others</li>
      .image-container
        a.image.3rd-anniversary(href='images/3rd anniversary/1.jpg')
          img(src='images/3rd anniversary/1.jpg', alt='')
        a.image.3rd-anniversary(href='images/3rd anniversary/2.jpg')
          img(src='images/3rd anniversary/2.jpg', alt='')
        a.image.3rd-anniversary(href='images/3rd anniversary/3.jpg')
          img(src='images/3rd anniversary/3.jpg', alt='')
        a.image.3rd-anniversary(href='images/3rd anniversary/4.jpg')
          img(src='images/3rd anniversary/4.jpg', alt='')
        a.image.3rd-anniversary(href='images/3rd anniversary/5.jpg')
          img(src='images/3rd anniversary/5.jpg', alt='')
        a.image.3rd-anniversary(href='images/3rd anniversary/6.jpg')
          img(src='images/3rd anniversary/6.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/32.jpg')
          img(src='images/Office Party/32.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/36.jpg')
          img(src='images/Office Party/36.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/47.jpg')
          img(src='images/Office Party/47.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/48.jpg')
          img(src='images/Office Party/48.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/50.jpg')
          img(src='images/Office Party/50.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/62.png')
          img(src='images/Office Party/62.png', alt='')
        |  
        a.image.Office-Party(href='images/Office Party/63.heic')
          img(src='images/Office Party/63.heic', alt='')
        a.image.Office-Party(href='images/Office Party/65.jpg')
          img(src='images/Office Party/65.jpg', alt='')
        a.image.Office-Party(href='images/Office Party/67.heic')
          img(src='images/Office Party/67.heic', alt='')
        a.image.Office-Party(href='images/Office Party/68.heic')
          img(src='images/Office Party/68.heic', alt='')
        a.image.Employee(href="images/Employee B'day/7.jpg")
          img(src="images/Employee B'day/7.jpg", alt='')
        a.image.Employee(href="images/Employee B'day/17.jpg")
          img(src="images/Employee B'day/17.jpg", alt='')
        a.image.Employee(href="images/Employee B'day/18.jpg")
          img(src="images/Employee B'day/18.jpg", alt='')
        a.image.Employee(href="images/Employee B'day/19.jpg")
          img(src="images/Employee B'day/19.jpg", alt='')
        a.image.Employee(href="images/Employee B'day/20.jpg")
          img(src="images/Employee B'day/20.jpg", alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/22.jpeg')
          img(src='images/FESTIVAL/22.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/24.jpeg')
          img(src='images/FESTIVAL/24.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/25.jpeg')
          img(src='images/FESTIVAL/25.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/26.jpeg')
          img(src='images/FESTIVAL/26.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/34.jpg')
          img(src='images/FESTIVAL/34.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/41.jpg')
          img(src='images/FESTIVAL/41.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/44.jpg')
          img(src='images/FESTIVAL/44.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/51.HEIC')
          img(src='images/FESTIVAL/51.HEIC', alt='')
        |  
        a.image.FESTIVAL(href='images/FESTIVAL/52.jpg')
          img(src='images/FESTIVAL/52.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/53.jpg')
          img(src='images/FESTIVAL/53.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/55.jpg')
          img(src='images/FESTIVAL/55.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/56.jpe')
          img(src='images/FESTIVAL/56.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/57.JPG')
          img(src='images/FESTIVAL/57.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/60.JPG')
          img(src='images/FESTIVAL/60.JPG', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/61.jpg')
          img(src='images/FESTIVAL/61.jpg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/69.jpeg')
          img(src='images/FESTIVAL/69.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/72.jpeg')
          img(src='images/FESTIVAL/72.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/73.jpeg')
          img(src='images/FESTIVAL/73.jpeg', alt='')
        a.image.FESTIVAL(href='images/FESTIVAL/28.jpg')
          img(src='images/FESTIVAL/28.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/8.jpg')
          img(src='images/Trips/8.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/9.jpg')
          img(src='images/Trips/9.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/10.jpg')
          img(src='images/Trips/10.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/11.jpg')
          img(src='images/Trips/11.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/12.jpg')
          img(src='images/Trips/12.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/13.jpg')
          img(src='images/Trips/13.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/14.jpg')
          img(src='images/Trips/14.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/15.jpg')
          img(src='images/Trips/15.jpg', alt='')
        a.image.Office-Trips(href='images/Trips/16.jpg')
          img(src='images/Trips/16.jpg', alt='')
        //
          <a href="images/OTHERS/21.jpg" class="image Others">
          <img src="images/OTHERS/21.jpg" alt="">
          </a>
    footer.section.section-f.luid.footer-minimal.context-dark
      .bg-gray-15
        .container-fluid
          .footer-minimal-inset.oh
            ul.footer-list-category-2
              li
                a(href='#') CONTENT writing
              li
                a(href='#') Software Development
              li
                a(href='#') Android Development 
              li
                a(href='#') Web design and development
              li
                a(href='#') Acadmic solutions
          .footer-minimal-bottom-panel.text-sm-left
            .row.row-10.align-items-md-center
              .col-sm-6.col-md-4.text-sm-right.text-md-center
                div
                  ul.list-inline.list-inline-sm.footer-social-list-2
                    li
                      a.icon.fa.fa-facebook(href='#')
                    li
                      a.icon.fa.fa-twitter(href='#')
                    li
                      a.icon.fa.fa-google-plus(href='#')
                    li
                      a.icon.fa.fa-instagram(href='#')
              .col-sm-6.col-md-4.order-sm-first
                // Rights
                p.rights
                  span &copy;&nbsp;
                  span.copyright-year
                  |  
                  span REQUIN
              .col-sm-6.col-md-4.text-md-right
                span All rights reserved.
                span
                  | Design&nbsp;by&nbsp;
                  a(href='#') Requin Solutions
    // Global Mailform Output
    #form-output-global.snackbars
    // jquery cdn link
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // magnific popup js cdn link
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    // Javascript
    script(src='js/core.min.js')
    script(src='js/script.js')
    script.
      $(document).ready(function () {
      $('.buttons').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      var filter = $(this).attr('data-filter')
      if (filter == 'all') {
      $('.image').show(400);
      } else {
      $('.image').not('.' + filter).hide(200);
      $('.image').filter('.' + filter).show(400);
      }
      });
      $('.gallery').magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery: {
      enabled: true
      }
      });
      });
    // coded by Himic