doctype html
html.wide.wow-animation(lang='en')
  head(style='background-image: url(images/14.jpg);')
    title Requin Solutions
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    link(rel='icon', href='images/requine.png', type='image/x-icon')
    // Stylesheets
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/privecy.css')
    style.
      .left {
      width: 30vw;
      height: 300px;
      padding: 34px;
      position: -webkit-sticky;
      position: sticky;
      top: 100px;
      margin-right: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
      }
      .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
      }
      html.ie-10 .ie-panel,
      html.lt-ie-10 .ie-panel {
      display: block;
      }
    style.
      body {
      background-color: white;
      }
  body
    .ie-panel
      a(href='images/requine.png')
        img(src='images/requine.png', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.', width='820', height='42')
    .preloader
      .preloader-body
        .cssload-container
          span
          span
          span
          span
    .page(style='min-height: 20vh;')
      header.section.page-header(style='background-color: black; position: relative;')
        // RD Navbar
        .rd-navbar-wrap
          nav.rd-navbar.rd-navbar-classic(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-static', data-xxl-layout='rd-navbar-static', data-xxl-device-layout='rd-navbar-static', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
            .rd-navbar-main-outer
              .rd-navbar-main
                // RD Navbar Panel
                .rd-navbar-panel
                  // RD Navbar Toggle
                  button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
                    span
                  // RD Navbar Brand
                  .rd-navbar-brand
                    a.brand(href='/')
                      img(src='images/requine.png', alt='', width='800', height='100')
                .rd-navbar-main-element
                  .rd-navbar-nav-wrap
                    // RD Navbar Share
                    .rd-navbar-share.fl-bigmug-line-share27(data-rd-navbar-toggle='.rd-navbar-share-list')
                      ul.list-inline.rd-navbar-share-list
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-facebook(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-twitter(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-google-plus(href='#')
                        li.rd-navbar-share-list-item
                          a.icon.fa.fa-instagram(href='#')
                    ul.rd-navbar-nav
                      li.rd-nav-item
                        a.rd-nav-link(href='/') Home
                      li.rd-nav-item
                        a.rd-nav-link(href='/#services') Services
                      li.rd-nav-item
                        a.rd-nav-link(href='/#projects') Projects
                      li.rd-nav-item
                        a.rd-nav-link(href='/#team') Team
                      li.rd-nav-item
                        a.rd-nav-link(href='/#Contact') Contacts
                      li.rd-nav-item.active
                        a.rd-nav-link(href='/privacy') Terms &amp; Conditions
                      li.rd-nav-item
                        a.rd-nav-link(href='/events') Lifeee At Requin
    .container.termscontainer
      .left
        .termbuttons
          ul
            li
              a(href='#Terms & Conditions') Terms &amp; Conditions
            li
              a(href='#Privacy & Policy') Privacy &amp; Policy
            li
              a(href='#Refund-policy') Refund-policy
      section.right
        div(id='Terms & Conditions')
          h4(style='text-align: center;') Terms &amp; Conditions
          p(style='text-align: justify; font-size: 10px;')
            | Requin solutions private limited does not charge any fee at any stage of the recruitment process and has
            | not authorized agencies/partners to collect any fee for recruitment. If you encounter any suspicious mail,
            | advertisements, or persons who offer jobs at Requin solutions Pvt ltd ,please do let us know by contacting
            | us on our website or any social media platform. We are an Equal Opportunity Employer. All qualified
            | applicants will receive consideration for employment without regard to race, color, caste, creed,
            | religion, gender, marital status, age, ethnic and national origin, gender identity, gender expression,
            | sexual orientation, political orientation, disability status, protected veteran status, or any other
            | characteristic protected by law. Any complaints or concerns regarding unethical/unfair hiring practices
            | should be directed .
          p(style='text-align: justify; font-size: 10px;')
            | The following terms and conditions will be deemed to have
            | been accepted by the User on usage of the website www.Requin solutions.com .You are requested to read them
            | carefully before you use the services of this site.
          p(style='text-align: justify; font-size: 10px;')
            | The term User shall refer to the user who is browsing the
            | site. The term Wipro shall refer to Wipro Limited. The term Site refers and is monitored by Requin.
          p(style='text-align: justify; font-size: 10px;')
            | By using the Site, you agree to follow and be bound by the
            | following terms and conditions concerning your use of the Site. Requin may revise the Terms of Use at any
            | time without notice to you. Areas of the Site may have different terms of use posted. If there is a
            | conflict between the Terms of Use and terms of use posted for a specific area of the Site, the latter
            | shall have precedence with respect to your use of that area of the Site.
          p(style='text-align: justify; font-size: 10px;')
            | Requin solutions may terminate User&apos;s access at any time
            | for any reason. The provisions regarding to disclaimer of warranty, accuracy of information, and
            | indemnification shall survive such termination. Requin mav Requin solutions may terminate User&apos;s access at
            | any time for any reason. The provisions regarding to disclaimer of warranty, accuracy of information, and
            | indemnification shall survive such termination. Requin may monitor access to the Site
          p(style='text-align: justify; font-size: 10px;')
            | All content present on this site is the exclusive property
            | of Requin solutions. The software, text, images, graphics, video and audio used on this site belong to
            | Requin.No material from this site may be copied, modified, reproduced, republished, uploaded, transmitted,
            | posted or distributed in any form without prior written permission from Requin solutions.All rights not
            | expressly granted herein are reserved. Unauthorized use of the materials appearing on this site may
            | violate copyright, trademark and other applicable laws, and could result in criminal or civil penalties.
            | Requin is a registered trademark of Requin solutions Private Limited. This trademark may not be used in
            | any manner without prior written consent from Requin solutions Pvt ltd.
          p(style='text-align: justify; font-size: 10px;')
            | Requin does not make any warranties, express or implied,
            | including, without limitation, those of merchantability and fitness for a particular purpose, with respect
            | to any information, data, statements or products made available on the Site.
          p(style='text-align: justify; font-size: 10px;')
            | The Site, and all content, materials, information,
            | software, products and services provided on the Site, are provided on an &quot;as is&quot; and &quot;as available&quot; basis.
            | Requin expressly disclaims all warranties of any kind, whether express or implied, including, but not
            | limited to, the implied warranties of merchantability, fitness for a particular purpose and
            | noninfringement.
          p(style='text-align: justify; font-size: 10px;')
            | Requin shall have no responsibility for any damage to
            | User&apos;s computer system or loss of data that results from the download of any content, materials,
            | information from the Site.
          p(style='text-align: justify; font-size: 10px;')
            | Requin may change or discontinue any aspect of its website
            | at any time, including, its content or features. Requin reserves the right to change the terms and
            | conditions applicable to use of the Site. Such changes shall be effective immediately upon notice, which
            | shall be placed on the Site.
          p(style='text-align: justify; font-size: 10px;')
            | In no event will Requin be liable for damages of any kind,
            | including without limitation, direct, incidental or consequential damages (including, but not limited to,
            | damages for lost profits, business interruption and loss of programs or information) arising out of the
            | use of or inability to use Requin&apos;s website, or any information provided on the website, or in the
            | Products any claim attributable to errors, omissions or other inaccuracies in the Product or
            | interpretations thereof. Some jurisdictions do not allow the limitation or exclusion of liability.
            | Accordingly, some of the above limitations may not apply to the User.
          p(style='text-align: justify; font-size: 10px;')
            | User agrees to indemnify, defend and hold Requin solutions
            | harmless from and against all losses, expenses, damages and costs, including reasonable attorneys&apos; fees,
            | arising out of or relating to any misuse by the User of the content and services provided on the Site.
          p(style='text-align: justify; font-size: 10px;')
            | The information contained in the Site has been obtained
            | from sources believed to be reliable. Requin disclaims all warranties as to the accuracy, completeness or
            | adequacy of such information.
          h6(style='padding-top: 10px; font-size: 14px;') Requin makes no warranty that:
          p(style='text-align: justify; font-size: 10px;')
            | (a) the Site will meet your requirements; (b) the Site will
            | be available on an uninterrupted, timely, secure, or errorfree basis; (c) the results that may be obtained
            | from the use of the Site or any services offered through the Site will be accurate or reliable.
          p(style='text-align: justify; font-size: 10px;')
            | The User&apos;s right to privacy is of paramount importance to
            | Requin .Any information provided by the User will not be shared with any third party. Requin reserves the
            | right to use the information to provide the User a more personalized online experience. The Site provides
            | links to web sites and access to content, products and services from third parties, including users,
            | advertisers, affiliates and sponsors of the Site. You agree that Requin is not responsible for the
            | availability of, and content provided on, third party web sites. The User is requested to peruse the
            | policies posted by other web sites regarding privacy and other topics before use. Requin is not
            | responsible for third party content accessible through the Site, including opinions, advice, statements
            | and advertisements, and User shall bear all risks associated with the use of such content. Requin is not
            | responsible for any loss or damage of any sort User may incur from dealing with any third party.
        div(id='Privacy & Policy')
          h4(style='text-align: center;') Privacy &amp; Policy
          p(style='text-align: justify; font-size: 10px;')
            | This Privacy Statement articulates the privacy and data
            | protection principles followed by Requin solutions Private limited and its entities around the world with
            | regard to the personal information of its customers (including products, outsourcing and other services
            | clients), partners, employees (current or former employees, trainees), applicants, contractors, prospects
            | and vendors and current or former members of the Board of Directors, whose personal information are
            | processed by Requin solutions Pvt ltd.
          p(style='text-align: justify; font-size: 10px;')
            | This Privacy Statement explains the use and protection of
            | personal information collected by Requin.lt applies to any personal information you provide to Requin and,
            | subject to local law, any personal information we collect from other sources. Throughout this Privacy
            | Statement, Requin refers to Requin private limited including its affiliates and subsidiaries (also
            | referred to as &quot;we&quot;, &quot;us&quot;, or &quot;our&quot;). Scope of this Privacy Statement:
          p(style='text-align: justify; font-size: 10px;')
            | This Privacy Statement covers Scope of this Privacy
            | Statement: This Privacy Statement covers our information practices, including how we collect, use, share and
            | protect the personal information you provide to us, through our web sites that link to this Privacy
            | Statement (collectively referred to as &quot;Requin&apos;s website&quot;)
          p(style='text-align: justify; font-size: 10px;')
            | Requin may provide links to third-party websites for your
            | convenience and information. If you access those links through the Requin&apos;s website, you will leave the
            | Requin website. Requin does not control those sites or their privacy practices, which may differ from
            | Requin&apos;s practices. We do not endorse or make any representations about third-party websites. The personal
            | information you choose to provide to or that is collected by these third parties, including any social media
            | websites featured on our website, is not covered by the Requin&apos;s Privacy Statement. We encourage you to
            | review the privacy statement or policy of any website before submitting your personal information.
          p(style='text-align: justify; font-size: 10px;')
            | We may also provide social media features on our website that
            | enable you to share Requin solution&apos;s information with your social networks and to interact with Requin We
            | may also provide social media features on our website that enable you to share Requin solution&apos;s information
            | with your social networks and to interact with Requin on various social media sites. Your use of these
            | features may result in the collection or sharing of information about you, depending on the feature. We
            | encourage you to review the privacy policies and settings on the social media sites with which you interact
            | to make sure you understand how the information provided by you could be used or shared by those sites.
          p(style='text-align: justify; font-size: 10px;')
            | Requin&apos;s websites are not directed at nor targeted at
            | children. No age limit as such has been put but it is mainly useful to candidates 13 and above as per
            | understanding.
          p(style='text-align: justify; font-size: 10px;')
            | Requin will not be liable for any unsolicited information
            | provided by you. You consent to Requin using such information as per Requin&apos;s Privacy Statement. \
          p(style='text-align: justify; font-size: 10px;')
            | Personal information collected by RequinWe may collect
            | personal information such as your First Name, Last Name, E-mail Address, Job Title, Organization Name,
            | Country, City and Phone Number. When you provide information that enables us to respond to your request for
            | products or services, we will, wherever permissible by relevant laws, collect, use and disclose this
            | information to third parties for the purposes described in this Privacy Statement. Personal information that
            | you provide to Requin directly through websites or emails We may collect personal information such as your
            | First Name, Last Name, E-mail Address, Job Title, Organization Name, Country, City and Phone Number,
            | Industry type when you fill forms on or raise a query through our websites, or send emails, call us or write
            | to us.
          p(style='text-align: justify; font-size: 10px;')
            | Personal information that is automatically collected by
            | Requin solutions when you use Requin solutions private limited websites Visit Requin solution&apos;s Websites In
            | some instances, Requin automatically collects personal information pertaining to you when you visit our
            | websites and through e-mails that we may exchange. We may use automated technologies includina the use of In
            | some instances, Requin automatically collects personal information pertaining to you when you visit our
            | websites and through e-mails that we may exchange. We may use automated technologies including the use of
            | web server logs to collect IP addresses, device details, cookies and web beacons. The collection of this
            | information will allow us to improve the effectiveness of Wipro websites and our marketing activities.
            | Please see the section below on cookies for further details.
          p(style='text-align: justify; font-size: 10px;')
            | By using Requin&apos;s websites, associated microsites and mobile
            | applications, you agree to the processing of your information as explained in this Privacy Statement.
            | Requin&apos;s websites may contain links toIn no event will Requin be liable for damages of any kind, including
            | without limitation, direct, incidental or consequential damages (including, but not limited to, damages for
            | lost profits, business interruption and loss of programs or information) arising out of the use of or
            | inability to use Requin&apos;s website, or any information provided on the website, or in the Products any claim
            | attributable to errors, omissions or other inaccuracies in the Product or interpretations thereof. Some
            | jurisdictions do not allow the limitation or exclusion of liability. Accordingly, some of the above
            | limitations may not apply to the User.
          p(style='text-align: justify; font-size: 10px;')
            | Engage with Requin through social media You can engage with
            | us through social media websites or through features on Requin&apos;s websites that integrate with social media
            | sites. When you engage with us thrnl n&bull;rtu
          p(style='text-align: justify; font-size: 10px;')
            | Access our Websites through Mobile Devices If you access our
            | websites on your mobile device, we may collect your personal information such as your First Name, Last Name,
            | E-mail Address, Job Title, Organization Name, Country, City, Phone Number, IP address and Device details.
            | When you provide us your mobile phone number, you consent to the use of your mobile phone number for the
            | purposes identified in this Privacy Statement. If you choose to refrain from receiving any text
            | notifications from us on your mobile, we will not be using your mobile number for such purposes unless
            | required to meet legal requirements or legitimate business purposes.
          h6(style='padding: 10px 0px; font-size: 12px;') How We Use your Data:
          p(style='text-align: justify; font-size: 10px;')
            | The personal information we collect may be used to:
            | information and services as requested by you. assess queries, requirements, and process requests for
            | products and services. provide subscription related services and information to enable you to download
            | collaterals and Marketina materials.
          p(style='text-align: justify; font-size: 10px;')
            | Personal information that is collected when you access our
            | Websites through mobile devices
          p(style='text-align: justify; font-size: 10px;')
            | The legal basis may differ depending on applicable local
            | laws, but generally we consider that our legitimate interests justify the processing; we find such interests
            | to be justified considering that the data is limited to browsing activities related to what is considered
            | business or professional related (our website does not offer any content directed to individual consumers as
            | well as any content which might be used for any inferences about your private life habits or interests), we
            | provide easy opt-out and limit the retention of data. The data that we may receive directly from you is
            | completely voluntary and at your option. Where consent is required specifically, we will obtain consent
            | before processing.
          p(style='text-align: justify; font-size: 10px;')
            | Sharing of personal information with the third parties:
          p(style='text-align: justify; font-size: 10px;')
            | Requin solutions Pvt ltd does not share personal information
            | about you with affiliates, partners, service providers, group entities and non-affiliated companies third
            | parties:
          h6(style='padding: 10px 0px; font-size: 10px;')
            | Requin solutions Pvt ltd does not share personal information
            | about you with affiliates, partners, service providers, group entities and non-affiliated companies except:
            | (a) to provide products or services you&apos;ve requested; (b) when we have your permission: or (c) under the
            | following circumstances:
          p(style='text-align: justify; font-size: 10px;')
            | 1 . We may share information with affiliated
            | entities/subsidiaries/branch offices for legitimate business purposes.
          p(style='text-align: justify; font-size: 10px;')
            | 2. We may provide the information to trusted entities who
            | work on behalf of or with Requin under strict confidentiality agreements. These entities may use your
            | personal information to help Requin communicate with you about offers from Requin and for other legitimate
            | business purposes. However, these companies do not have any independent right to further share or
            | disseminate this information.
          p(style='text-align: justify; font-size: 10px;')
            | 3. We may share information with statutory authorities,
            | government institutions, law enforcement agencies or other bodies where required for communicate with you
            | about offers from Requin and for other legitimate business purposes. However, these companies do not have
            | any independent right to further share or disseminate this information.
          p(style='text-align: justify; font-size: 10px;')
            | 4. We may use the information to respond to subpoenas, court
            | orders, or legal process, or to establish or exercise our legal rights or defend against legal claims.
          p(style='text-align: justify; font-size: 10px;')
            | 5. We may share information where we believe it is necessary
            | in order to investigate, prevent, or take action against any illegal activities, suspected fraud, situations
            | involving potential threats to the physical safety of any person, or as otherwise required by law.
          p(style='text-align: justify; font-size: 10px;')
            | 6. We may share information with our empanelled vendors for
            | assistance w.r.to setting up Business meetings post your consent.
          p(style='text-align: justify; font-size: 10px;')
            | 7. We may share information where we believe it is necessary
            | in order to
          p(style='text-align: justify; font-size: 10px;')
        #Refund-policy
          h4(style='text-align: center;') Refund-policy
          p(style='text-align: justify; font-size: 10px;')
            | Thankyou for consuming our services at 
            a(href='www.requinsolutions.com') www.requinsolutions.com
            | by Requin Solutions Private Limited.
          p(style='text-align: justify; font-size: 10px;')
            | Requin provides best services, in case of any failure or
            | unfulfilled requirements from our end, we provide the &ldquo;Refund Policy&rdquo;. But this is only applicable when the
            | services are completely not meeting the requirements of the customer. In the case of an error or problems
            | occurring that can be rectified, we will definitely rectify the faults and provide you the error free
            | services. Please note refund policy is only applicable when the services completely disagree with the
            | requirements of the customer.
          p(style='text-align: justify; font-size: 10px;')
            | Also, the duration for the corrections as well as the &ldquo;Refund
            | Policy&rdquo; to activate, the complaint needs to be raised within 7 days after service received or else both the
            | refund or corrections i.e. rectification of services won&rsquo;t be provided.
    footer.section.section-f.luid.footer-minimal.context-dark
      .bg-gray-15
        .container-fluid
          .footer-minimal-inset.oh
            ul.footer-list-category-2
              li
                a(href='#') CONTENT writing
              li
                a(href='#') Software Development
              li
                a(href='#') Android Development 
              li
                a(href='#') Web design and development
              li
                a(href='#') Acadmic solutions
          .footer-minimal-bottom-panel.text-sm-left
            .row.row-10.align-items-md-center
              .col-sm-6.col-md-4.text-sm-right.text-md-center
                div
                  ul.list-inline.list-inline-sm.footer-social-list-2
                    li
                      a.icon.fa.fa-facebook(href='#')
                    li
                      a.icon.fa.fa-twitter(href='#')
                    li
                      a.icon.fa.fa-google-plus(href='#')
                    li
                      a.icon.fa.fa-instagram(href='#')
              .col-sm-6.col-md-4.order-sm-first
                // Rights
                p.rights
                  span &copy;&nbsp;
                  span.copyright-year
                  |  
                  span REQUIN
              .col-sm-6.col-md-4.text-md-right
                span All rights reserved.
                span
                  | Design&nbsp;by&nbsp;
                  a(href='#') Requin Solutions
    // Global Mailform Output
    #form-output-global.snackbars
    // Javascript
    script(src='js/core.min.js')
    script(src='js/script.js')
    // coded by Himic