doctype html
html(lang="en")
  include ./partials/head.pug
  body.kt-quick-panel--right.kt-demo-panel--right.kt-offcanvas-panel--right.kt-header--fixed.kt-header-mobile--fixed.kt-subheader--enabled.kt-subheader--fixed.kt-subheader--solid.kt-aside--enabled.kt-aside--fixed.kt-page--loading.overlayloader
    // begin:: Page
    // begin:: Header Mobile
    #kt_header_mobile.kt-header-mobile.kt-header-mobile--fixed
      .kt-header-mobile__logo
        a(href="index.html")
          img(alt="Logo" src="/assets/media/requine.png")
      .kt-header-mobile__toolbar
        button#kt_aside_mobile_toggler.kt-header-mobile__toggler.kt-header-mobile__toggler--left
          span
        button#kt_header_mobile_toggler.kt-header-mobile__toggler
          span
        button#kt_header_mobile_topbar_toggler.kt-header-mobile__topbar-toggler
          i.flaticon-more
    // end:: Header Mobile
    .kt-grid.kt-grid--hor.kt-grid--root
      .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--ver.kt-page
        include ./partials/sidenav.pug
        #kt_wrapper.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-wrapper
          // begin:: Header
          include ./partials/topnav.pug
          #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor
            // begin:: Content Head
            include ./partials/header.pug
            .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid#template1(style="visibility:none;")
              // Begin::Dashboard 3
              // Begin::Row
              .kt-portlet
                .kt-portlet__body.kt-portlet__body--fit
                  .row.row-no-padding.row-col-separator-lg
                    .col-md-12.col-lg-4.col-xl-4
                      // begin::Total Profit
                      .kt-widget24
                        .kt-widget24__details
                          .kt-widget24__info
                            h4.kt-widget24__title
                              | Delayed Task
                            span.kt-widget24__desc
                              | Click here for all delayed task
                          span.kt-widget24__stats.kt-font-danger
                              span.kt-spinner.kt-spinner--sm.kt-spinner--danger.demo(style="margin-right : 20px")
                              span#delayedTaskCount
                    .col-md-12.col-lg-4.col-xl-4
                      // begin::New Feedbacks
                      .kt-widget24
                        .kt-widget24__details
                          .kt-widget24__info
                            h4.kt-widget24__title
                              | Assigned Task
                            span.kt-widget24__desc
                              | Click here for all task in progress
                          span.kt-widget24__stats.kt-font-success
                              span.kt-spinner.kt-spinner--sm.kt-spinner--success.demo(style="margin-right : 20px")
                              span#progressTaskCount
                    .col-md-12.col-lg-4.col-xl-4
                      // begin::New Feedbacks
                      .kt-widget24
                        .kt-widget24__details
                          .kt-widget24__info
                            h4.kt-widget24__title
                              | Unassigned Task
                            span.kt-widget24__desc
                              | Click here for all Unassigned task
                          span.kt-widget24__stats.kt-font-warning
                            span.kt-spinner.kt-spinner--sm.kt-spinner--warning.demo(style="margin-right : 20px")
                            span#unassignedTaskCount
                div
                div
                div
                div
              .row
                .col-lg-6.col-xl-6
                  // begin:: Widgets/Trends
                  
                  .kt-portlet.kt-portlet--head--noborder
                    .kt-portlet__head.kt-portlet__head--noborder
                      .kt-portlet__head-label

                        h3.kt-portlet__head-title#topvendor
                    .kt-portlet__body.kt-portlet__body--fluid.kt-portlet__body--fit
                      .kt-widget4.kt-widget4--sticky
                        .kt-widget4__items.kt-widget4__items--bottom.kt-portlet__space-x.kt-margin-b-20
                          .kt-widget4__item
                            span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold(style='margin-right:10px;') S
                            .kt-widget4__info
                              a.kt-widget4__title(href="#")
                                | Sahil
                            span.kt-widget4__ext
                              span.kt-widget4__number.kt-font-danger AUD 1200
                          .kt-widget4__item
                            span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold(style='margin-right:10px;') T
                            .kt-widget4__info
                              a.kt-widget4__title(href="#")
                                | Teza
                            span.kt-widget4__ext
                              span.kt-widget4__number.kt-font-danger AUD 1670
                          .kt-widget4__item
                            span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold(style='margin-right:10px;') S
                            .kt-widget4__info
                              a.kt-widget4__title(href="#")
                                | Sanchit
                            span.kt-widget4__ext
                              span.kt-widget4__number.kt-font-danger AUD 1890
                  // end:: Widgets/Trends
                .col-lg-6.col-xl-6
                  // begin:: Widgets/Sales Stats
                  .kt-portlet.kt-portlet--head--noborder.kt-portlet--height-fluid
                    .kt-portlet__head.kt-portlet__head--noborder
                      .kt-portlet__head-label
                        h3.kt-portlet__head-title#salesstats
                    .kt-portlet__body
                      // begin::Widget 6
                      .kt-widget15
                        .kt-widget15__items
                          .row
                            .col
                              .kt-widget15__item
                                span#totalTask.kt-widget15__stats
                                 span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                                span.kt-widget15__text
                                  | Total Tasks
                                .kt-space-10
                                .progress.kt-widget15__chart-progress--sm
                                  .progress-bar.bg-danger(role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
                            .col
                              .kt-widget15__item
                                span#totalPendingTask.kt-widget15__stats
                                 span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                                span.kt-widget15__text
                                  | Pending Tasks
                                .kt-space-10
                                .progress.kt-progress--sm
                                  .progress-bar.bg-warning(role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                          .row
                            .col
                              .kt-widget15__item
                                span#totalWordCount.kt-widget15__stats
                                 span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                                span.kt-widget15__text
                                  | Wordcount
                                .kt-space-10
                                .progress.kt-progress--sm
                                  .progress-bar.bg-success(role="progressbar" style="width: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                            .col
                              .kt-widget15__item
                                span#pendingWordCount.kt-widget15__stats
                                  span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                                span.kt-widget15__text
                                  | Pending wordcount
                                .kt-space-10
                                .progress.kt-progress--sm
                                  .progress-bar.bg-primary(role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                      // end::Widget 6
                  // end:: Widgets/Sales Stats
                  // end:: Widgets/Top Locations
                .col-xl-12
                  // begin:: Widgets/Finance Summary
                  .kt-portlet
                    .kt-portlet__body
                      .kt-widget.kt-widget--user-profile-3
                        .kt-widget__top
                          .kt-widget__content
                            .kt-widget__head
                              .kt-widget__user
                                h3.kt-widget__username#FinanceSummary
                        .kt-widget__bottom
                          .kt-widget__item
                            .kt-widget__icon
                              i.flaticon2-writing
                            .kt-widget__details
                              span.kt-widget__title Monthly turnover
                              span.kt-widget__value
                                span
                                #turnover
                                span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                          .kt-widget__item
                            .kt-widget__icon
                              i.flaticon2-list
                            .kt-widget__details
                              span.kt-widget__title Amount paid
                              span.kt-widget__value
                                span
                                #paid
                                span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                          .kt-widget__item
                            .kt-widget__icon
                              i.flaticon2-correct
                            .kt-widget__details
                              span.kt-widget__title Pending amount
                              span.kt-widget__value
                                span
                                #pending
                                span.kt-spinner.kt-spinner--sm.kt-spinner--dark.demo1(style="margin-right : 20px")
                .col-xl-12
                  // begin:: Widgets/Finance Summary
                  .kt-portlet
                    .kt-portlet__body
                      .kt-portlet
                        #kt_calendar  
                .col-xl-12 
                  .kt-portlet
                    .kt-portlet__body
                      #kt_uppy_1


          include ./partials/footer.pug
    #kt_scrolltop.kt-scrolltop
      i.fa.fa-arrow-up
    script.
      var KTAppOptions = {
      "colors": {
      "state": {
      "brand": "#5d78ff",
      "dark": "#282a3c",
      "light": "#ffffff",
      "primary": "#5867dd",
      "success": "#34bfa3",
      "info": "#36a3f7",
      "warning": "#ffb822",
      "danger": "#fd3995"
      },
      "base": {
      "label": [
      "#c5cbe3",
      "#a1a8c3",
      "#3d4465",
      "#3e4466"
      ],
      "shape": [
      "#f0f3ff",
      "#d9dffa",
      "#afb4d4",
      "#646c9a"
      ]
      }
      }
      };
      const chatbotoslo = () =>{
        window.open('/su/aitools/chat', '_blank');
      }
    // end::Global Config
    // begin::Global Theme Bundle(used by all pages)
    script(src="/assets/plugins/global/plugins.bundle.js" type="text/javascript")
    script(src="/assets/js/scripts.bundle.js" type="text/javascript")
    // end::Global Theme Bundle
    // begin::Page Vendors(used by this page)
    script(src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript")
    script(src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript")
    script(src="/assets/plugins/custom/gmaps/gmaps.js" type="text/javascript")
    // end::Page Vendors
    // begin::Page Scripts(used by this page)
    
    script(src='https://www.chartjs.org/dist/2.9.3/Chart.min.js')
    script(src='/rpanel/js/su/chartjsutil.js')
    script(src="/rpanel/js/su/dashboard.js" type="text/javascript")
    script(src="/assets/js/pages/dashboard.js" type="text/javascript")
    //script(src="/assets/js/pages/crud/file-upload/uppy.js" type="text/javascript")
    