#kt_header.kt-header.kt-grid__item.kt-header--fixed
            // begin:: Header Menu
            //
            #kt_header_menu_wrapper.kt-header-menu-wrapper
              #kt_header_menu.kt-header-menu.kt-header-menu-mobile.kt-header-menu--layout-default
                ul.kt-menu__nav
                  li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel(data-ktmenu-submenu-toggle="click" aria-haspopup="true")
                    a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                      span.kt-menu__link-text Tools
                      i.kt-menu__ver-arrow.la.la-angle-right
                    .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--left
                      ul.kt-menu__subnav
                        li.kt-menu__item(aria-haspopup="true")
                          a.kt-menu__link(href="index.html")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M5.84026576,8 L18.1597342,8 C19.1999115,8 20.0664437,8.79732479 20.1528258,9.83390904 L20.8194924,17.833909 C20.9112219,18.9346631 20.0932459,19.901362 18.9924919,19.9930915 C18.9372479,19.9976952 18.8818364,20 18.8264009,20 L5.1735991,20 C4.0690296,20 3.1735991,19.1045695 3.1735991,18 C3.1735991,17.9445645 3.17590391,17.889153 3.18050758,17.833909 L3.84717425,9.83390904 C3.93355627,8.79732479 4.80008849,8 5.84026576,8 Z M10.5,10 C10.2238576,10 10,10.2238576 10,10.5 L10,11.5 C10,11.7761424 10.2238576,12 10.5,12 L13.5,12 C13.7761424,12 14,11.7761424 14,11.5 L14,10.5 C14,10.2238576 13.7761424,10 13.5,10 L10.5,10 Z" fill="#000000")
                                  path(d="M10,8 L8,8 L8,7 C8,5.34314575 9.34314575,4 11,4 L13,4 C14.6568542,4 16,5.34314575 16,7 L16,8 L14,8 L14,7 C14,6.44771525 13.5522847,6 13,6 L11,6 C10.4477153,6 10,6.44771525 10,7 L10,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3")
                            span.kt-menu__link-text Profit calculator
                        li.kt-menu__item(aria-haspopup="true")
                          a.kt-menu__link(href="javascript:;")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3")
                                  path(d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000")
                            span.kt-menu__link-text Grade calculator
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M9,15 L7.5,15 C6.67157288,15 6,15.6715729 6,16.5 C6,17.3284271 6.67157288,18 7.5,18 C8.32842712,18 9,17.3284271 9,16.5 L9,15 Z M9,15 L9,9 L15,9 L15,15 L9,15 Z M15,16.5 C15,17.3284271 15.6715729,18 16.5,18 C17.3284271,18 18,17.3284271 18,16.5 C18,15.6715729 17.3284271,15 16.5,15 L15,15 L15,16.5 Z M16.5,9 C17.3284271,9 18,8.32842712 18,7.5 C18,6.67157288 17.3284271,6 16.5,6 C15.6715729,6 15,6.67157288 15,7.5 L15,9 L16.5,9 Z M9,7.5 C9,6.67157288 8.32842712,6 7.5,6 C6.67157288,6 6,6.67157288 6,7.5 C6,8.32842712 6.67157288,9 7.5,9 L9,9 L9,7.5 Z M11,13 L13,13 L13,11 L11,11 L11,13 Z M13,11 L13,7.5 C13,5.56700338 14.5670034,4 16.5,4 C18.4329966,4 20,5.56700338 20,7.5 C20,9.43299662 18.4329966,11 16.5,11 L13,11 Z M16.5,13 C18.4329966,13 20,14.5670034 20,16.5 C20,18.4329966 18.4329966,20 16.5,20 C14.5670034,20 13,18.4329966 13,16.5 L13,13 L16.5,13 Z M11,16.5 C11,18.4329966 9.43299662,20 7.5,20 C5.56700338,20 4,18.4329966 4,16.5 C4,14.5670034 5.56700338,13 7.5,13 L11,13 L11,16.5 Z M7.5,11 C5.56700338,11 4,9.43299662 4,7.5 C4,5.56700338 5.56700338,4 7.5,4 C9.43299662,4 11,5.56700338 11,7.5 L11,11 L7.5,11 Z" fill="#000000" fill-rule="nonzero")
                            span.kt-menu__link-text Invoice Genarator
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="#")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                                g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                                  rect(x="0" y="0" width="24" height="24")
                                  path(d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L4,21 C2.8954305,21 2,20.1045695 2,19 L2,15 L6.27924078,15 L6.82339262,16.6324555 C7.09562072,17.4491398 7.8598984,18 8.72075922,18 L15.381966,18 C16.1395101,18 16.8320364,17.5719952 17.1708204,16.8944272 L18.118034,15 L22,15 Z" fill="#000000")
                                  path(d="M2.5625,13 L5.92654389,7.01947752 C6.2807805,6.38972356 6.94714834,6 7.66969497,6 L16.330305,6 C17.0528517,6 17.7192195,6.38972356 18.0734561,7.01947752 L21.4375,13 L18.118034,13 C17.3604899,13 16.6679636,13.4280048 16.3291796,14.1055728 L15.381966,16 L8.72075922,16 L8.17660738,14.3675445 C7.90437928,13.5508602 7.1401016,13 6.27924078,13 L2.5625,13 Z" fill="#000000" opacity="0.3")
                            span.kt-menu__link-text Create Payment link
                ul.kt-menu__nav
                  li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel(data-ktmenu-submenu-toggle="click" aria-haspopup="true")
                    a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                      span.kt-menu__link-text Task
                      i.kt-menu__ver-arrow.la.la-angle-right
                    .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--left
                      ul.kt-menu__subnav
                        li.kt-menu__item(aria-haspopup="true")
                          a.kt-menu__link(href="/../su/alltask")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z', fill='#000000')
                                  rect(fill='#000000', opacity='0.3', transform='translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) ', x='16.3255682', y='2.94551858', width='3', height='18', rx='1')
                            span.kt-menu__link-text All task
                        li.kt-menu__item(aria-haspopup="true")
                          a.kt-menu__link(href="javascript:;")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M16.5428932,17.4571068 L11,11.9142136 L11,4 C11,3.44771525 11.4477153,3 12,3 C12.5522847,3 13,3.44771525 13,4 L13,11.0857864 L17.9571068,16.0428932 L20.1464466,13.8535534 C20.3417088,13.6582912 20.6582912,13.6582912 20.8535534,13.8535534 C20.9473216,13.9473216 21,14.0744985 21,14.2071068 L21,19.5 C21,19.7761424 20.7761424,20 20.5,20 L15.2071068,20 C14.9309644,20 14.7071068,19.7761424 14.7071068,19.5 C14.7071068,19.3673918 14.7597852,19.2402148 14.8535534,19.1464466 L16.5428932,17.4571068 Z', fill='#000000', fill-rule='nonzero')
                                  path(d='M7.24478854,17.1447885 L9.2464466,19.1464466 C9.34021479,19.2402148 9.39289321,19.3673918 9.39289321,19.5 C9.39289321,19.7761424 9.16903559,20 8.89289321,20 L3.52893218,20 C3.25278981,20 3.02893218,19.7761424 3.02893218,19.5 L3.02893218,14.136039 C3.02893218,14.0034307 3.0816106,13.8762538 3.17537879,13.7824856 C3.37064094,13.5872234 3.68722343,13.5872234 3.88248557,13.7824856 L5.82567301,15.725673 L8.85405776,13.1631936 L10.1459422,14.6899662 L7.24478854,17.1447885 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
                            span.kt-menu__link-text Upcoming task
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="#")
                            span.kt-menu__link-icon
                              //- svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                              //-   g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                              //-     rect(x="0" y="0" width="24" height="24")
                              //-     path(d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L4,21 C2.8954305,21 2,20.1045695 2,19 L2,15 L6.27924078,15 L6.82339262,16.6324555 C7.09562072,17.4491398 7.8598984,18 8.72075922,18 L15.381966,18 C16.1395101,18 16.8320364,17.5719952 17.1708204,16.8944272 L18.118034,15 L22,15 Z" fill="#000000")
                              //-     path(d="M2.5625,13 L5.92654389,7.01947752 C6.2807805,6.38972356 6.94714834,6 7.66969497,6 L16.330305,6 C17.0528517,6 17.7192195,6.38972356 18.0734561,7.01947752 L21.4375,13 L18.118034,13 C17.3604899,13 16.6679636,13.4280048 16.3291796,14.1055728 L15.381966,16 L8.72075922,16 L8.17660738,14.3675445 C7.90437928,13.5508602 7.1401016,13 6.27924078,13 L2.5625,13 Z" fill="#000000" opacity="0.3")
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z', fill='#000000', opacity='0.3')
                                  path(d='M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z', fill='#000000')
                                  path(d='M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z', fill='#000000')
                                  path(d='M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z', fill='#000000')
                            span.kt-menu__link-text Delayed task
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="javascript:;")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z', fill='#000000', opacity='0.3')
                                  rect(fill='#000000', x='11', y='9', width='2', height='7', rx='1')
                                  rect(fill='#000000', x='11', y='17', width='2', height='2', rx='1')
                            span.kt-menu__link-text Unassigned task
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="#")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  circle(fill='#000000', opacity='0.3', cx='12', cy='12', r='10')
                                  path(d='M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z', fill='#000000', fill-rule='nonzero')
                            span.kt-menu__link-text Completed task
                        li.kt-menu__item.kt-menu__item--submenu(data-ktmenu-submenu-toggle="hover" aria-haspopup="true")
                          a.kt-menu__link.kt-menu__toggle(href="#")
                            span.kt-menu__link-icon
                              svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  rect(x='0', y='0', width='24', height='24')
                                  path(d='M4.88230018,17.2353996 L13.2844582,0.431083506 C13.4820496,0.0359007077 13.9625881,-0.12427877 14.3577709,0.0733126292 C14.5125928,0.15072359 14.6381308,0.276261584 14.7155418,0.431083506 L23.1176998,17.2353996 C23.3152912,17.6305824 23.1551117,18.1111209 22.7599289,18.3087123 C22.5664522,18.4054506 22.3420471,18.4197165 22.1378777,18.3482572 L14,15.5 L5.86212227,18.3482572 C5.44509941,18.4942152 4.98871325,18.2744737 4.84275525,17.8574509 C4.77129597,17.6532815 4.78556182,17.4288764 4.88230018,17.2353996 Z', fill='#000000', fill-rule='nonzero', transform='translate(14.000087, 9.191034) rotate(-315.000000) translate(-14.000087, -9.191034) ')
                            span.kt-menu__link-text Delivered task
            // end:: Header Menu
            // begin:: Header Topbar
            .kt-header__topbar
              // begin: Search
              // begin: Search
              #kt_quick_search_toggle.kt-header__topbar-item.kt-header__topbar-item--search.dropdown
                .kt-header__topbar-wrapper(data-toggle="dropdown" data-offset="10px,0px")
                  span.kt-header__topbar-icon
                    svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
                      g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
                        rect(x="0" y="0" width="24" height="24")
                        path(d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3")
                        path(d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero")
                .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-lg
                  #kt_quick_search_dropdown.kt-quick-search.kt-quick-search--dropdown.kt-quick-search--result-compact
                    form.kt-quick-search__form(method="get")
                      .input-group
                        .input-group-prepend
                          span.input-group-text
                            i.flaticon2-search-1
                        input.form-control.kt-quick-search__input(type="text" placeholder="Search...")
                        .input-group-append
                          span.input-group-text
                            i.la.la-close.kt-quick-search__close
                    .kt-quick-search__wrapper.kt-scroll(data-scroll="true" data-height="325" data-mobile-height="200")
              // end: Search
              // begin: Quick panel toggler
              .kt-header__topbar-item.kt-header__topbar-item--quick-panel(data-toggle='kt-tooltip', title='Quick panel', data-placement='right', style='display:none')
                span#kt_quick_panel_toggler_btn.kt-header__topbar-icon
                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      rect(x='0', y='0', width='24', height='24')
                      rect(fill='#000000', x='4', y='4', width='7', height='7', rx='1.5')
                      path(d='M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z', fill='#000000', opacity='0.3')
              // end: Quick panel toggler

              // begin: Notifications
              //- .kt-header__topbar-item.dropdown
              //-   .kt-header__topbar-wrapper(data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true")
              //-     span.kt-header__topbar-icon.kt-pulse.kt-pulse--brand
              //-       svg.kt-svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1")
              //-         g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
              //-           rect(x="0" y="0" width="24" height="24")
              //-           path(d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3")
              //-           path(d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000")
              //-       span.kt-pulse__ring
              //-     //
              //-       Use dot badge instead of animated pulse effect:
              //-       <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span>
              //-   .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-top-unround.dropdown-menu-lg
              //-     form
              //-       // begin: Head
              //-       .kt-head.kt-head--skin-dark.kt-head--fit-x.kt-head--fit-b(style="background-image: url(/assets/media/misc/bg-1.jpg)")
              //-         h3.kt-head__title
              //-           | User Notifications
              //-           span.btn.btn-success.btn-sm.btn-bold.btn-font-md 23 new
              //-         ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-3x.nav-tabs-line-success.kt-notification-item-padding-x(role="tablist")
              //-           li.nav-item
              //-             a.nav-link.active.show(data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true") Alerts
              //-           li.nav-item
              //-             a.nav-link(data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false") Events
              //-           li.nav-item
              //-             a.nav-link(data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false") Logs
              //-       // end: Head
              //-       .tab-content
              //-         #topbar_notifications_notifications.tab-pane.active.show(role="tabpanel")
              //-           .kt-notification.kt-margin-t-10.kt-margin-b-10.kt-scroll(data-scroll="true" data-height="300" data-mobile-height="200")
              //-             a.kt-notification__item(href="#")
              //-               .kt-notification__item-icon
              //-                 i.flaticon2-line-chart.kt-font-success
              //-               .kt-notification__item-details
              //-                 .kt-notification__item-title
              //-                   | New order has been received
              //-                 .kt-notification__item-time
              //-                   | 2 hrs ago
              //-         #topbar_notifications_events.tab-pane(role="tabpanel")
              //-           .kt-notification.kt-margin-t-10.kt-margin-b-10.kt-scroll(data-scroll="true" data-height="300" data-mobile-height="200")
              //-             a.kt-notification__item(href="#")
              //-               .kt-notification__item-icon
              //-                 i.flaticon2-psd.kt-font-success
              //-               .kt-notification__item-details
              //-                 .kt-notification__item-title
              //-                   | New report has been received
              //-                 .kt-notification__item-time
              //-                   | 23 hrs ago
              //-         #topbar_notifications_logs.tab-pane(role="tabpanel")
              //-           .kt-grid.kt-grid--ver(style="min-height: 200px;")
              //-             .kt-grid.kt-grid--hor.kt-grid__item.kt-grid__item--fluid.kt-grid__item--middle
              //-               .kt-grid__item.kt-grid__item--middle.kt-align-center
              //-                 | All caught up!
              //-                 br
              //-                 | No new notifications.
              .kt-header__topbar-item(style="margin-right : 0.5rem;")
                .kt-header__topbar-wrapper
                  a.kt-header__topbar-icon.kt-pulse.kt-pulse--brand.removeNotfication(href="/ad/notifications") 
                    span#lblCartCount.label.pulse.pulse-success.mr-10
                      i.far.fa-bell
                      span.badge.badge-primary#notificationsCount
                        | #{notifications}
              
              .kt-header__topbar-item.kt-header__topbar-item--user
                .kt-header__topbar-wrapper(data-toggle="dropdown" data-offset="0px,0px")
                  .kt-header__topbar-user
                    span.kt-header__topbar-welcome.kt-hidden-mobile Hello,
                    span.kt-header__topbar-username.kt-hidden-mobile Mate
                    span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold #{avatarinitial}
                .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-top-unround.dropdown-menu-xl
                  // begin: Head
                  .kt-user-card.kt-user-card--skin-dark.kt-notification-item-padding-x(style="background-image: url(/assets/media/misc/bg-1.jpg)")
                    .kt-user-card__avatar
                      img.kt-hidden(alt="Pic" src="/assets/media/users/300_25.jpg")
                      // use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it)
                      span.kt-badge.kt-badge--lg.kt-badge--rounded.kt-badge--bold.kt-font-success #{initialletter}
                    .kt-user-card__name #{username}
                  // end: Head
                  // begin: Navigation
                  .kt-notification
                    a.kt-notification__item(href="/su/profile")
                      .kt-notification__item-icon
                        i.flaticon2-calendar-3.kt-font-success
                      .kt-notification__item-details
                        .kt-notification__item-title.kt-font-bold
                          | My Profile
                        .kt-notification__item-time
                          | Account settings and more
                    a.kt-notification__item(href="/custom/apps/user/profile-3.html")
                      .kt-notification__item-icon
                        i.flaticon2-hourglass.kt-font-brand
                      .kt-notification__item-details
                        .kt-notification__item-title.kt-font-bold
                          | My Tasks
                        .kt-notification__item-time
                          | All task by me
                    .kt-notification__custom.kt-space-between
                      button#kt_login_signin_submit.loginclick.btn.btn-brand.btn-elevate.kt-login__btn-primary Sign Out