footer#footer.light
  #copyrights
    .container
      .row.col-mb-30
        .col-md-6.text-center.text-md-start
          | Copyrights &copy; 2022 All Rights Reserved by TheSqualo Inc.

script.
  $(document).ready(async function() {
  $("#kt_login_signin_submit").click(function() {
  $(".loader1").show();
  $.ajax({
  type: "POST",
  url: "/logout",
  success: function(data) {
  setTimeout(function() {
  $(".loader1").show();
  }, 2000);
  },
  error: function(data) {
  console.log(data)
  }
  });
  });
  });