#kt_subheader.kt-subheader.kt-grid__item
              .kt-container.kt-container--fluid
                .kt-subheader__main
                  h3.kt-subheader__title #{userrole}
                  span.kt-subheader__desc #{userid}
                      script(src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript")
                      //- script(src="/rpanel/js/widget.js" type="text/javascript")