header#header.full-header
        #header-wrap
          .container
            .header-row
              #logo
                a.standard-logo(href='index.html' data-dark-logo='images/logo-dark.png' style='padding:5px 5px 5px 5px; width:100px; height:60px;')
                  img(src='/one-page/images/logo-only.png' alt='Squalo Logo')
                a.retina-logo(href='index.html' data-dark-logo='images/logo-dark@2x.png' style='padding:5px 5px 5px 5px; width:100px; height:60px;')
                  img(src='/one-page/images/logo-only.png' alt='Squalo Logo')
              nav.primary-menu
                ul.menu-container
                  li.menu-item
                    a.menu-link(href='/cl/dashboard')
                      div Home
                  li.menu-item.mega-menu
                    a.menu-link(href='#')
                      div Tools
                    .mega-menu-content.mega-menu-style-2
                      .container
                        .row
                          ul.sub-menu-container.mega-menu-column.col-lg-3
                            li.menu-item.mega-menu-title
                              a.menu-link(href='#')
                                div Content creation
                              ul.sub-menu-container
                                //li.menu-item
                                  a.menu-link(href='about.html')
                                    div Ask me anything
                                  ul.sub-menu-container.mega-menu-dropdown
                                    li.menu-item
                                      a.menu-link(href='about.html')
                                        div Main Layout
                                    li.menu-item
                                      a.menu-link(href='about-2.html')
                                        div Alternate Layout
                                    li.menu-item
                                      a.menu-link(href='about-me.html')
                                        div About Me
                                    li.menu-item
                                      a.menu-link(href='team.html')
                                        div Team Members
                                //li.menu-item
                                  a.menu-link(href='gdpr.html')
                                    div GDPR Compliance
                                  ul.sub-menu-container.mega-menu-dropdown
                                    li.menu-item
                                      a.menu-link(href='gdpr.html')
                                        div Default
                                    li.menu-item
                                      a.menu-link(href='gdpr-small.html')
                                        div Small
                                li.menu-item
                                  a.menu-link(href='/cl/askme')
                                    div Ask me anything
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Email generator
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Blog generator
                          ul.sub-menu-container.mega-menu-column.col-lg-3
                            li.menu-item.mega-menu-title
                              a.menu-link(href='#')
                                div Code generation
                              ul.sub-menu-container
                                li.menu-item
                                  a.menu-link(href='/cl/code')
                                    div
                                      | Generate code
                                  //- ul.sub-menu-container.mega-menu-dropdown
                                  //-   li.menu-item
                                  //-     a.menu-link(href='services.html')
                                  //-       div Layout 1
                                  //-   li.menu-item
                                  //-     a.menu-link(href='services-2.html')
                                  //-       div Layout 2
                                  //-   li.menu-item
                                  //-     a.menu-link(href='services-3.html')
                                  //-       div Layout 3
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div
                                      | Code explainer
                                  //- ul.sub-menu-container.mega-menu-dropdown
                                  //-   li.menu-item
                                  //-     a.menu-link(href='events-list.html')
                                  //-       div Events List
                                  //-     ul.sub-menu-container.mega-menu-dropdown
                                  //-       li.menu-item
                                  //-         a.menu-link(href='events-list.html')
                                  //-           div Right Sidebar
                                  //-       li.menu-item
                                  //-         a.menu-link(href='events-list-left-sidebar.html')
                                  //-           div Left Sidebar
                                  //-       li.menu-item
                                  //-         a.menu-link(href='events-list-both-sidebar.html')
                                  //-           div Both Sidebar
                                  //-       li.menu-item
                                  //-         a.menu-link(href='events-list-fullwidth.html')
                                  //-           div Full Width
                                  //-       li.menu-item
                                  //-         a.menu-link(href='events-list-parallax.html')
                                  //-           div Parallax List
                                    li.menu-item
                                      a.menu-link(href='event-single.html')
                                        div Single Event
                                      ul.sub-menu-container.mega-menu-dropdown
                                        li.menu-item
                                          a.menu-link(href='event-single-right-sidebar.html')
                                            div Right Sidebar
                                        li.menu-item
                                          a.menu-link(href='event-single-left-sidebar.html')
                                            div Left Sidebar
                                        li.menu-item
                                          a.menu-link(href='event-single-both-sidebar.html')
                                            div Both Sidebar
                                        li.menu-item
                                          a.menu-link(href='event-single.html')
                                            div Full Width
                                    li.menu-item
                                      a.menu-link(href='event-single-full-width-image.html')
                                        div Single Event - Full
                                      ul.sub-menu-container.mega-menu-dropdown
                                        li.menu-item
                                          a.menu-link(href='event-single-full-width-image.html')
                                            div Parallax Image
                                        li.menu-item
                                          a.menu-link(href='event-single-full-width-map.html')
                                            div Google Map
                                        li.menu-item
                                          a.menu-link(href='event-single-full-width-slider.html')
                                            div Slider Gallery
                                        li.menu-item
                                          a.menu-link(href='event-single-full-width-video.html')
                                            div HTML5 Video
                                    li.menu-item
                                      a.menu-link(href='events-calendar.html')
                                        div Full Width Calendar
                                //li.menu-item
                                  a.menu-link(href='contact.html')
                                    div
                                      i.icon-envelope
                                      | Contact Pages
                                  ul.sub-menu-container.mega-menu-dropdown
                                    li.menu-item
                                      a.menu-link(href='contact.html') Main Layout
                                    li.menu-item
                                      a.menu-link(href='contact-2.html') Grid Layout
                                    li.menu-item
                                      a.menu-link(href='contact-3.html') Right Sidebar
                                    li.menu-item
                                      a.menu-link(href='contact-4.html') Both Sidebars
                                    li.menu-item
                                      a.menu-link(href='contact-5.html') Modal Form
                                    li.menu-item
                                      a.menu-link(href='contact-6.html') Form Overlay
                                    li.menu-item
                                      a.menu-link(href='contact-7.html') Form Overlay Mini
                                //li.menu-item
                                  a.menu-link(href='faqs.html')
                                    div
                                      i.icon-question-circle
                                      | FAQs Pages
                                  ul.sub-menu-container.mega-menu-dropdown
                                    li.menu-item
                                      a.menu-link(href='faqs.html')
                                        div Layout 1
                                    li.menu-item
                                      a.menu-link(href='faqs-2.html')
                                        div Layout 2
                                    li.menu-item
                                      a.menu-link(href='faqs-3.html')
                                        div Layout 3
                                    li.menu-item
                                      a.menu-link(href='faqs-4.html')
                                        div Layout 4
                          ul.sub-menu-container.mega-menu-column.col-lg-3
                            li.menu-item.mega-menu-title
                              a.menu-link(href='#')
                                div Summarizer
                              ul.sub-menu-container
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Summarize journals
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Summarize to 2nd grader
                                  //ul.sub-menu-container.mega-menu-dropdown
                                    li.menu-item
                                      a.menu-link(href='right-sidebar.html')
                                        div Right Sidebar
                                    li.menu-item
                                      a.menu-link(href='left-sidebar.html')
                                        div Left Sidebar
                                    li.menu-item
                                      a.menu-link(href='both-sidebar.html')
                                        div Both Sidebar
                                    li.menu-item
                                      a.menu-link(href='both-right-sidebar.html')
                                        div Both Right Sidebar
                                    li.menu-item
                                      a.menu-link(href='both-left-sidebar.html')
                                        div Both Left Sidebar
                                //li.menu-item
                                  a.menu-link(href='page-submenu.html')
                                    div Page Submenu
                                //li.menu-item
                                  a.menu-link(href='side-navigation.html')
                                    div Side Navigation
                          ul.sub-menu-container.mega-menu-column.col-lg-3
                            li.menu-item.mega-menu-title
                              a.menu-link(href='#')
                                div Games
                              ul.sub-menu-container
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Analogy maker
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Horror story creator
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Recipe creator
                          ul.sub-menu-container.mega-menu-column.col-lg-3
                            li.menu-item.mega-menu-title
                              a.menu-link(href='#')
                                div Youtube
                              ul.sub-menu-container
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div Chapter creation
                                li.menu-item
                                  a.menu-link(href='/cl/soon')
                                    div video description
                  li.menu-item
                    a.menu-link(href='#')
                      div Account
                    ul.sub-menu-container
                      li.menu-item
                        a.menu-link(href='/cl/myaccount')
                          div Manage Account
                      li.menu-item
                        a.menu-link#kt_login_signin_submit
                          div Logout
                  li.menu-item
                    a.menu-link(href='/cl/soon')
                      div Help
.loader1(style='display:none;')


